/* .navbarlogin {
  background-image: linear-gradient(
    to right,
    #9d50bb 0%,
    #6e48aa 51%,
    #9d50bb 100%
  );
}
.navbarlogin {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.navbarlogin:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* register button  */

.navbarregister {
  text-align: center !important;
  text-transform: uppercase !important;
  transition: 0.5s !important;
  background-color: #7304a3 !important;
  background-size: 200% auto !important;
  color: white !important;
  font-weight: 600 !important;

  border-radius: 10px !important;
}

.navbarregister:hover {
  background-position: right center !important;
  color: white !important;
  font-weight: 600 !important;
  background-color: black !important;
  text-decoration: none !important;
}
