.btns {
  background-image: linear-gradient(
    to right,
    #aa076b 0%,
    #61045f 51%,
    #aa076b 100%
  );
}
.btns {
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btns:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* All Artifacts */

.allartifacts {
  text-align: center !important;
  margin-top: 20px;
  padding: 7px 10px !important;
  text-transform: uppercase !important;
  transition: 0.5s !important;
  background-color: #7304a3 !important;
  background-size: 200% auto !important;
  color: white !important;
  font-weight: 600 !important;

  border-radius: 10px !important;
}

.allartifacts:hover {
  background-position: right center !important;
  color: white !important;
  font-weight: 600 !important;
  background-color: black !important;
  text-decoration: none !important;
}
